.carousel-item{
	
	background:no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size: cover;
	max-height: 90vh;
}

.navbar-light .navbar-brand{
	color: #000
	font-size: 25px
	text-transform:uppercase;
	font-weight: bold;
	left: 2px
	letter-spacing: 2px;
}
.dropdown:hover>.dropdown-menu{
	display: block;
}

body{
	font-family: 'Poppins', sans-serif;
	color:#484343;
	font-weight:normal;
}

p{
	font-size:16px;
	line-height:22pt;
	font-weight:400;
}

.card-img-top{
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	width: 50%
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}
