.carousel-item{
	
	background:no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size: cover;
}

.navbar-light .navbar-brand{
	color: #000
	font-size: 25px
	text-transform:uppercase;
	font-weight: bold;
	left: 2px
	letter-spacing: 2px;
}
.dropdown:hover>.dropdown-menu{
	display: block;
}